# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
.env
.venv/

# Environment variables
.env.*

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/

# Mac
.DS_Store

paper-trade-496205-3573c4335a37.json
papertrade-google-play.json